**/node_modules
**/dist
**/.cache
**/.turbo
**/coverage
**/tests
**/*.test.ts
**/*.spec.ts
.git
.github
.vscode
.idea
cloud
site
docs
extension
vscode-extension
homebrew
install
integrations
*.md
.DS_Store
